<app-search [upOrDown]="true" [_searchTitle]="_searchTitle" (queryCondition)="queryRecognizeByConditions($event)"></app-search>
  <app-table [isCanAdd]="false" [canDblClick]="false" [_titles]="_titles" [_dataSet]="_dataSet" (editData)="getRowData($event)"  actionType="type5" (deleteData)="deleteRow($event)" (refresh)="refresh()"></app-table>
  <!--<app-userinfo-model (closeModel)="isEdit=!isEdit" [isVisible]="isEdit" [_formData]="formData" (requestData)="sendData($event)"></app-userinfo-model>-->
<app-recognize-model (closeModel)="close()" [isVisible]="isEdit||isAdd" [_formData]="formData" (requestData)="sendData($event)"></app-recognize-model>














