<div class="header-container">
  <div class="web-name">
    <!-- <a href="favicon"><img src="../../../assets/images/logo.jpg" alt=""></a>-->
    <span>平安海派智能物联管理平台</span>
   <!-- <b>管理平台</b>-->
  </div>
  <div class="user-action">
    <div class="login-info">
    <span><a class="logintime">{{lastTime | date:"yyyy-MM-dd HH:mm:ss"}}</a><a class="username">欢迎你，{{username}}</a></span>
    <span></span>
    <span></span>
    <span></span>
    </div>
    <!--<span class="last-login-time">-->
    <!--上次登录:{{lastTime | date:"yyyy-MM-dd hh-mm-ss"}}-->
    <!--</span>-->
  </div>
</div>

