<div class="header-container">
  <div class="web-name">
    <a href="favicon"><img src="../../../assets/images/logo.jpg" alt=""></a>
    <span>追影智能安防系统</span>
    <b>管理平台</b>
  </div>
  <div class="user-action">
    <!--<div class="login-info">-->
      <!--<span class="username">李101(离开)</span>-->
      <!--<span></span>-->
      <!--<span></span>-->
      <!--<span></span>-->
    <!--</div>-->
    <!--<span class="last-login-time">-->
      <!--上次登录:{{lastTime | date:"yyyy-MM-dd hh-mm-ss"}}-->
    <!--</span>-->
  </div>
</div>
