<app-search [_searchTitle]="_searchTitle" (queryCondition)="queryStrategyByConditions($event)"></app-search>
<nz-spin [nzTip]="'正在读取数据...'" [nzSpinning]="isLoading">
  <app-table [_titles]="_titles" [_dataSet]="_dataSet" (editData)="getRowData($event)" (deleteData)="deleteRow($event)"
             (refresh)="refresh()"></app-table>
</nz-spin>
<app-strategy-model (closeModel)="close()" [isVisible]="isEdit||isAdd" [_formData]="formData"
                    [strategyWeekOptions]="_strategyWeekOptions" (requestData)="sendData($event)"></app-strategy-model>
