<app-search [upOrDown]="true" [_searchTitle]="_searchTitle" (queryCondition)="queryUserByConditions($event)"></app-search>
<nz-spin [nzTip]="'正在读取数据...'" [nzSpinning]="isLoading">
  <app-table [isCanAdd]="false" [_titles]="_titles" [_dataSet]="_dataSet" (editData)="getRowData($event)" (deleteData)="deleteRow($event)" (refresh)="refresh()"></app-table>
</nz-spin>
<app-user-model (closeModel)="close()" [isVisible]="isEdit||isAdd" [_formData]="formData" (requestData)="sendData($event)"></app-user-model>








