<app-search [_searchTitle]="_searchTitle" (queryCondition)="queryFacelibByConditions($event)"></app-search>
<nz-spin [nzTip]="'正在读取数据...'" [nzSpinning]="isLoading">
  <app-table [_titles]="_titles" [_dataSet]="_dataSet" (editData)="getRowData($event)"  (deleteData)="deleteRow($event)" actionType="type3" (refresh)="refresh()"></app-table>
</nz-spin>
  <!--<app-userinfo-model (closeModel)="isEdit=!isEdit" [isVisible]="isEdit" [_formData]="formData" (requestData)="sendData($event)"></app-userinfo-model>-->
<app-facelib-model (closeModel)="close()" [isVisible]="isEdit||isAdd" [_formData]="formData" (requestData)="sendData($event)"></app-facelib-model>




