.content {
  width: 1660px;
  height: 800px;
  border: #000000 0px solid;
  font-size: large;
}
.div_td { width:829px;
  height:449px;
  float:left;
  color:#FF0000;
  text-align:center;
  line-height:500px;
}
