
<div class="map-container">
  <div class="operate-container">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" class="map-btn">
      <span>  添加摄像头  </span>
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="large" class="map-btn1">
      <i class="anticon anticon-download"></i><span> 导出摄像头拓扑图 </span>
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="large" class="map-btn1">
      <i class="anticon anticon-download"></i><span> 导出摄像头拓扑表 </span>
    </button>
  </div>
  <!--map-container 就是map-show的父元素  看包含关系就知道了 看到了么-->
  <div class="map-show">
    <div class="map-menu">
       <div class="camera-state">
         在线摄像头: <img src="../../../assets/images/map/map-active.png" alt="">
       </div>
      <div class="camera-state">
         离线摄像头: <img src="../../../assets/images/map/map.png" alt="">
      </div>
      <div>
         楼层: <nz-select style="width: 120px;" [(ngModel)]="selectedOption" nzAllowClear>
                <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option">
                  <ng-template #nzOptionTemplate><i class="anticon" [ngClass]="'anticon-'+option.label"></i> {{option.label}}</ng-template>
                </nz-option>
              </nz-select>
      </div>
      <div class="scale-size">
        放大: <img src="../../../assets/images/map/bigger.png" alt="">
      </div>
      <div class="scale-size">
        缩小: <img src="../../../assets/images/map/smaller.png" alt="">
      </div>
    </div>
    <div class="map-img">
      <img src="../../../assets/images/map-default.png" alt="">
    </div>
  </div>
</div>
