<nz-spin [nzTip]="loadingText" [nzSpinning]="isLoading">
<app-search [upOrDown]="true" [_searchTitle]="_searchTitle"
            (queryCondition)="queryRegisterByConditions($event)"></app-search>
  <app-table [isCanReback]="true"  [tableTitle]="_tableTitle" [_multiUploadApi]="_multiUploadApi" [isCanBatchUpload]="true" [_titles]="_titles"
             [_dataSet]="_dataSet" (editData)="getRowData($event)" (deleteData)="deleteRow($event)"
             (refresh)="refresh()"></app-table>
<app-register-model (closeModel)="close()" (getFacelibNames)="getFacelibNames($event)"  [certTypeOptions]="_certTypeOptions" [genderOptions]="_genderOptions"
                    [dangerOptions]="_dangerOptions" [sourceOptions]="_sourceOptions" [isVisible]="isEdit||isAdd"
                    [_formData]="formData" (requestData)="sendData($event)"></app-register-model>
</nz-spin>







