<nz-modal class="recognize-modal-container" [nzVisible]="isVisible" [nzTitle]="'人脸库'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading" nzFooter="" >
  <ng-template #modalContent >
   <div nz-row>
      <div class="left-content" nz-col [nzSpan]="14" >
         <dl>
            <dt>
              <nz-carousel>
                <div nz-carousel-content >
                   <img src="http://img1.3lian.com/2015/a1/95/d/105.jpg">
                </div>
                <div nz-carousel-content >
                   <img src="http://img1.3lian.com/2015/a1/95/d/105.jpg">
                </div>
                <div nz-carousel-content >
                   <img src="http://img1.3lian.com/2015/a1/95/d/105.jpg">
                </div>
              </nz-carousel>
            </dt>
            <dd>
              底图
            </dd>
         </dl>
         <dl>
            <dt>
              <img src="http://img1.3lian.com/2015/a1/95/d/105.jpg">
            </dt>
            <dd>
              底图
            </dd>
         </dl>
         <dl>
           <dt>
            <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
            poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
              <!--<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">-->
              <source src="http://peipei521.oss-cn-shenzhen.aliyuncs.com/20180113.mp4" type="video/mp4">
            </video>
           </dt>
           <dd>抓拍视频</dd>
         </dl>
         <dl>
            <dt>
              <img src="http://img1.3lian.com/2015/a1/95/d/105.jpg">
            </dt>
            <dd>
              底图
            </dd>
         </dl>
      </div>
      <!-- 右边的表单 -->
      <div class="right-content" nz-col [nzSpan]="10">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
          <input type="hidden" formControlName="id" [(ngModel)]="_formData.id"  >
          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>用户名</label>
              </div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="name" [(ngModel)]="_formData.name"  [nzType]="'text'" [nzPlaceHolder]="'用户姓名'" [nzSize]="'large'">
                </nz-input>
              </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>状态</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="state" [(ngModel)]="_formData.state" [nzPlaceHolder]="'state'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>personid</label>
              </div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="personid" [(ngModel)]="_formData.personid"  [nzType]="'text'" [nzPlaceHolder]="'personid'" [nzSize]="'large'">
                </nz-input>
              </div>
              <div nz-form-label nz-col [nzSpan]="5">
                <label nz-form-item-required>编号</label>
              </div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="serialNum" [(ngModel)]="_formData.serialNum"  [nzPlaceHolder]="'编号'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>性别</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="gender" [(ngModel)]="_formData.gender" [nzPlaceHolder]="'性别'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>区域编码</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="zoneNum" [(ngModel)]="_formData.zoneNum" [nzPlaceHolder]="'区域编码'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>摄像头ID</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="camId" [(ngModel)]="_formData.camId" [nzPlaceHolder]="'摄像头ID'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>方向</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="direction" [(ngModel)]="_formData.direction" [nzPlaceHolder]="'方向'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>相似度</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="similarDegree" [(ngModel)]="_formData.similarDegree" [nzPlaceHolder]="'相似度'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>时间</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="time" [(ngModel)]="_formData.time" [nzPlaceHolder]="'时间'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>危险等级</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="dc" [(ngModel)]="_formData.dc" [nzPlaceHolder]="'危险等级'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>类型</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="type" [(ngModel)]="_formData.type" [nzPlaceHolder]="'type'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>身份证号码</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="card" [(ngModel)]="_formData.card" [nzPlaceHolder]="'card'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>basepath</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="basepath" [(ngModel)]="_formData.basepath" [nzPlaceHolder]="'basepath'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="5" nz-form-label>
              <label nz-form-item-required>mappath_new</label>
            </div>
            <div>
              <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
                <nz-input formControlName="mappath_new" [(ngModel)]="_formData.mappath_new" [nzPlaceHolder]="'mappath_new'" [nzType]="'text'" [nzSize]="'large'">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
              <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">提交</button>
              <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
            </div>
          </div>
        </form>
      </div>
   </div>
  </ng-template>
</nz-modal>





