<div class="report-data-analyze-container">
  <div class="date-select">
    <span class="date-setup">时间设置:</span>
    <nz-datepicker style="width:20%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" nzShowTime [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'"></nz-datepicker>
    <nz-datepicker style="width:20%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
    <button nz-button [nzType]="'default'" (click)="getAnalyzeData($event)">查询</button>
  </div>
  <div class="button-group">
    <button  *ngFor="let item of xAxisName;let i = index;" (click)="toggleChart($event,item)"  nz-button [nzType]="'default'" nzSize="large">
      <span>{{item.name}}</span>
    </button>
  </div>
  <div class="report-chart">
    <div echarts [options]="options" class="demo-chart"></div>
  </div>
</div>
