<nz-modal class="camera-modal-container" [nzVisible]="isVisible" [nzTitle]="'摄像头信息'" [nzContent]="modalContent"
          (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading"
          nzFooter="" [nzMaskClosable]="false">
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <input type="hidden" formControlName="id" [(ngModel)]="_formData.id">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label nz-form-item-required>摄像头名称</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-input [appFormValidate]="validateForm" formControlName="name" [(ngModel)]="_formData.name"
                    [nzType]="'text'" [nzPlaceHolder]="'摄像头名称'" [nzSize]="'large'">
          </nz-input>
        </div>
        <div nz-form-label nz-col [nzSpan]="5">
          <label nz-form-item-required>摄像头类型</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <!--<nz-input  formControlName="type" [(ngModel)]="_formData.type"  [nzType]="'text'" [nzPlaceHolder]="'枪机/球机'" [nzSize]="'large'">-->
          <!--</nz-input>-->
          <nz-select formControlName="type" [(ngModel)]="_formData.type" [nzPlaceHolder]="'-请选择-'" [nzSize]="'large'"
                     nzAllowClear>
            <nz-option *ngFor="let option of cameraTypeOptions" [nzLabel]="option.name" [nzValue]="option.id">
              <ng-template #nzOptionTemplate>{{option.name}}</ng-template>
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label>摄像头品牌</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-input formControlName="camInfo" [(ngModel)]="_formData.camInfo" [nzRows]="2" [nzType]="'text'"
                    [nzPlaceHolder]="'摄像头品牌'" [nzSize]="'large'">
          </nz-input>
        </div>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>序列号</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
          <nz-input [appFormValidate]="validateForm" formControlName="serialNum" [(ngModel)]="_formData.serialNum"
                    [nzType]="'text'" [nzPlaceHolder]="'序列号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>摄像头状态</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-select formControlName="camState" [(ngModel)]="_formData.camState" [nzPlaceHolder]="'-请选择-'"
                     [nzSize]="'large'" nzAllowClear>
            <nz-option *ngFor="let option of cameraStateOptions" [nzLabel]="option.name" [nzValue]="option.id">
              <ng-template #nzOptionTemplate>{{option.name}}</ng-template>
            </nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>摄像头区域</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-input formControlName="area" [(ngModel)]="_formData.area" [nzRows]="2" [nzType]="'text'"
                    [nzPlaceHolder]="'移动端使用'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label nz-form-item-required>摄像头IP地址</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
          <nz-input [appFormValidate]="validateForm" formControlName="ip" [(ngModel)]="_formData.ip" [nzType]="'text'"
                    [nzPlaceHolder]="'摄像机IP地址'" [nzSize]="'large'">
          </nz-input>
        </div>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>摄像头端口号</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-input [appFormValidate]="validateForm" formControlName="port" [(ngModel)]="_formData.port"
                      [nzPlaceHolder]="'摄像机端口号'" [nzType]="'text'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>摄像机方向</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-input [appFormValidate]="validateForm" formControlName="direction" [(ngModel)]="_formData.direction"
                      [nzPlaceHolder]="'采用东南西北或上下左右描述大概方向'" [nzType]="'text'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label>选择分析仪</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-select formControlName="analyserID" [(ngModel)]="_formData.analyserID" [nzPlaceHolder]="'分析仪名称'"
                       [nzSize]="'large'" nzAllowClear>
              <nz-option *ngFor="let option of options" [nzLabel]="option.name" [nzValue]="option.id">
                <ng-template #nzOptionTemplate>{{option.name}}</ng-template>
              </nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>用户名</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-input formControlName="user" [(ngModel)]="_formData.user" [nzPlaceHolder]="'用户名'" [nzType]="'text'"
                      [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>密码</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-input formControlName="pwd" [(ngModel)]="_formData.pwd" [nzPlaceHolder]="'密码'" [nzType]="'password'"
                      [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>rtsp路径</label>
        </div>
        <div nz-col [nzSpan]="17" nz-form-control>
          <nz-input formControlName="rtspPath" [(ngModel)]="_formData.rtspPath" [nzRows]="2" [nzType]="'text'"
                    [nzPlaceHolder]="'移动端使用,请输入完整的rtsp路径'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>流媒体IP地址</label>
        </div>
        <div>
          <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
            <nz-input formControlName="mediaIP" [(ngModel)]="_formData.mediaIP" [nzPlaceHolder]="'流媒体IP地址'"
                      [nzType]="'text'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <div nz-form-label nz-col [nzSpan]="5">
          <label nz-form-item-required>流媒体端口号</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control nzHasFeedback>
          <nz-input [appFormValidate]="validateForm" formControlName="mediaPort" [(ngModel)]="_formData.mediaPort"
                    [nzType]="'text'" [nzPlaceHolder]="'流媒体端口号'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>位置</label>
        </div>

        <!--<div nz-col [nzSpan]="3" nz-form-control>-->
          <!--<nz-select style="width: 120px;" formControlName="districtID" [(ngModel)]="_formData.districtID"-->
                     <!--(ngModelChange)="mapSelectHandler($event)" [nzPlaceHolder]="'选择地图'">-->
            <!--<nz-option *ngFor="let option of mapOptions" [nzLabel]="option.name" [nzValue]="option.id">-->
              <!--<ng-template #nzOptionTemplate>{{option.name}}</ng-template>-->
            <!--</nz-option>-->
          <!--</nz-select>-->
        <!--</div>-->
        <!--<div nz-col [nzSpan]="3" nz-form-control>-->
          <!--<nz-select style="width: 120px;" formControlName="districtID" [(ngModel)]="_formData.districtID"-->
                     <!--(ngModelChange)="mapSelectHandler($event)" [nzPlaceHolder]="'选择地图'">-->
            <!--<nz-option *ngFor="let option of mapOptions" [nzLabel]="option.name" [nzValue]="option.id">-->
              <!--<ng-template #nzOptionTemplate>{{option.name}}</ng-template>-->
            <!--</nz-option>-->
          <!--</nz-select>-->
        <!--</div>-->

        <div nz-col [nzSpan]="3" nz-form-control>
          <nz-input *ngIf="isAreaID" formControlName="areaID" [nzDisabled]="'true'" [(ngModel)]="_formData.areaID"
                    [nzRows]="2" [nzType]="'text'" [nzPlaceHolder]="'areaID'" [nzSize]="'large'">
          </nz-input>
          <!--<nz-spin formControlName="areaID" [ [(ngModel)]="_formData.areaID"></nz-spin>-->
          <!--<div formControlName="areaID" [ [(ngModel)]="_formData.areaID">-->
          <!--</div>-->
          <nz-input formControlName="areaName" [nzDisabled]="'true'" [(ngModel)]="_formData.areaName"
                    [nzRows]="2" [nzType]="'text'" [nzPlaceHolder]="'区域'" [nzSize]="'large'">
          </nz-input>
          <!--<nz-spin formControlName="districtID" [(ngModel)]="_formData.districtID"></nz-spin>-->
          <!--<div formControlName="districtID" [(ngModel)]="_formData.districtID">-->
          <!--</div>-->
          <nz-input *ngIf="isDistrictID" formControlName="districtID" [nzDisabled]="'true'" [(ngModel)]="_formData.districtID"
                    [nzRows]="2" [nzType]="'text'" [nzPlaceHolder]="'districtID'" [nzSize]="'large'">
          </nz-input>
          <nz-input formControlName="districtName" [nzDisabled]="'true'" [(ngModel)]="_formData.districtName"
                    [nzRows]="2" [nzType]="'text'" [nzPlaceHolder]="'楼层'" [nzSize]="'large'">
          </nz-input>
        </div>

        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>流媒体类型</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-select formControlName="streamType" [(ngModel)]="_formData.streamType" [nzPlaceHolder]="'-请选择-'"
                     [nzSize]="'large'" nzAllowClear>
            <nz-option *ngFor="let option of streamTypeOptions" [nzLabel]="option.name" [nzValue]="option.id">
              <ng-template #nzOptionTemplate>{{option.name}}</ng-template>
            </nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>x轴坐标</label>
        </div>
        <div nz-col [nzSpan]="6" nz-form-control>
          <nz-input formControlName="camMapX" [(ngModel)]="_formData.camMapX" [nzRows]="2" [nzType]="'text'"
                    [nzPlaceHolder]="'x轴坐标'" [nzSize]="'large'">
          </nz-input>
        </div>
        <div nz-col [nzSpan]="5" nz-form-label>
          <label nz-form-item-required>y轴坐标</label>
        </div>
        <div nz-col [nzSpan]="3" nz-form-control>
          <nz-input formControlName="camMapY" [(ngModel)]="_formData.camMapY" [nzRows]="2" [nzType]="'text'"
                    [nzPlaceHolder]="'y轴坐标'" [nzSize]="'large'">
          </nz-input>
        </div>
        <div nz-col [nzSpan]="5">
          <button nz-button style="background:#ccc;font-size:12px;text-align:center;" (click)="openMapModel($event)">
            <span>设置坐标</span>
          </button>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-col [nzOffset]="10" [nzSpan]="22" nz-form-control>
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="submitForm($event,validateForm.value)">提交
          </button>
          <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>


<nz-modal [nzVisible]="isShowMap" [nzTitle]="'地图坐标设置'" [nzContent]="mapModelContent"
          (nzOnCancel)="handleMapCancel($event)" class="map-model" [nzMaskClosable]="false">
  <ng-template #mapModelContent>
    <div class="map-img">
      <img class="camera" src="../../../../assets/images/map/camera-device.png" alt="" #camera
           (dragstart)="dragStartHandler($event)">
      <img class="map" [src]="mapUrl" alt="" (dragover)="dragoverHandler($event)"
           (drop)="dropHandler($event)">
    </div>
    <div class="map-action">
      <div class="area-select">
        区域:
        <nz-select style="width: 120px;" [(ngModel)]="selectedMap" (ngModelChange)="mapAreaChangeHandle($event)">
          <nz-option *ngFor="let option of dataInfo" [nzLabel]="option.areaName" [nzValue]="option">
            <ng-template #nzOptionTemplate>{{option.areaName}}</ng-template>
          </nz-option>
        </nz-select>
      </div>

      <div class="floor-select">
        楼层:
        <nz-select style="width: 120px;" [(ngModel)]="selectedMap" (ngModelChange)="mapFloorChangeHandle($event)">
          <nz-option *ngFor="let option of selectedMapFloor" [nzLabel]="option.districtName" [nzPlaceHolder]="'请选择楼层'" [nzValue]="option">
            <ng-template #nzOptionTemplate>{{option.districtName}}</ng-template>
          </nz-option>
        </nz-select>
      </div>
      <div class="confirm-btn">
        <button nz-button (click)="confirm($event)">
          <span>确定设置</span>
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
