<div class="search-container">
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form" (ngSubmit)="submitForm($event,validateForm.value)">
    <div nz-row [nzGutter]="40">
      <div nz-col [nzSpan]="8" *ngFor="let item of _searchTitle;let i = index;">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>{{item.name}}</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="18">
            <nz-input [nzSize]="'large'" [(ngModel)]="_formData[item.key]" [nzPlaceHolder]="'请输入'+item.name" [formControlName]="item.key" [nzId]=""></nz-input>
          </div>
        </div>
      </div>
    </div>
    <button nz-button [nzType]="'default'" class="query-btn">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>
  </form>

</div>

