<div class="search-container">
  <div class="form-group">
    <label for="userinfo_name">姓名:</label>
    <nz-input [(ngModel)]="inputValue" [nzSize]="'large'"></nz-input>
    <label class="control-label col-xs-1" for="userinfo_module">模块:</label>
    <nz-input [(ngModel)]="inputValue" [nzSize]="'large'"></nz-input>
    <label class="control-label col-xs-1" for="userinfo_role">角色:</label>
    <nz-input [(ngModel)]="inputValue" [nzSize]="'large'"></nz-input>

    <button nz-button [nzType]="'primary'">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>

  </div>
</div>
