<div id="u140" class="ax_default shape1">
  <!--<app-displaytable [_titles]="_titlesofservice" [_dataSet]="_dataSet"></app-displaytable>-->
  <app-table [isCanAdd]="false" [isCanDelete]="false" [isCanRefresh]="false" [isShowOperate]="false" [isShowCheckbox]="false" [_titles]="_titles" [_dataSet]="_dataSet"></app-table>
  <div class="report-chart">
    <div id="cache0">
      <h1><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实时监控情况</p></h1>
      <hr/>
      <table  id="tb1" width="800" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th scope="col">今日平均负载</th>
          <th scope="col">峰值负载运行时间</th>
          <th scope="col">负载最大的服务器种类</th>
        </tr>
        <tr>
          <td align="center">80%</td>
          <td align="center">42分钟</td>
          <td align="center">算法服务器</td>
        </tr>
      </table>
    </div>
    <div echarts [options]="options" class="demo-chart" async></div>

  </div>
</div>


