<div class="pp-table">
  <div style="margin-bottom: 16px;">
    <nz-button-group>
        <button *ngIf="isCanAdd" nz-button  [nzType]="'default'" [nzSize]="'large'" (click)="add()"><span><i class="anticon anticon-file-add"></i> 新增</span></button>
        <button nz-button  [nzType]="'default'" [nzSize]="'large'" (click)="_multiDelete()"><span><i class="anticon anticon-delete"></i> 删除</span></button>
        <button nz-button  [nzType]="'default'" [nzSize]="'large'" (click)="_refreshData()"><span><i class="anticon anticon-reload"></i> 刷新</span></button>
        <button *ngIf="isCanReback"  nz-button  [nzType]="'default'" [nzSize]="'large'" [routerLink]="['/facelib']"><span><i class="anticon anticon-reload"></i> 回退</span></button>
    </nz-button-group>
    <div class="batch-upload-box" *ngIf="isCanBatchUpload">
      <nz-upload *ngIf="fileList.length==0" nzMultiple nzShowButton [nzAction]="mulUploadApi" [nzFileList]="fileList"   (nzChange)="handleChange($event)"  [nzShowUploadList]="false"   [nzBeforeUpload]="beforeUpload"   >
        <button nz-button>
          <i class="anticon anticon-upload"></i><span>批量上传</span>
        </button>
      </nz-upload>
      <nz-button-group *ngIf="fileList.length>0">
        <button nz-button   [nzType]="'default'" [nzLoading]="uploading" (click)="handleUpload($event)" [disabled]="fileList.length == 0" >
          <i class="anticon anticon-upload"></i>{{'开始上传'}}
        </button>
        <button nz-button  [nzType]="'default'" (click)="cancalUpload($event)">
          <i class="anticon anticon-close"></i>取消上传
        </button>
      </nz-button-group>
      <span>共选择{{fileList.length}}个文件</span>
    </div>
  </div>
  <nz-table #nzTable [nzDataSource]="_dataSet" nzShowSizeChanger [(nzPageIndex)]="currentPageIndex" [nzPageSize]="pageSize" (nzDataChange)="_displayDataChange($event)"  (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
    <thead nz-thead>
    <tr>
      <th nz-th nzCheckbox>
        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
        </label>
      </th>
      <th nz-th  *ngFor="let item of _titles"><span>{{item.name}}</span></th>
      <th nz-th  *ngIf="isShowOperate"><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr  *ngFor="let data of nzTable.data" (dblclick)="canDblClick&&singleEdit($event,data)">
      <td nz-td nzCheckbox>
        <label nz-checkbox [(ngModel)]="data.checked"  (ngModelChange)="_refreshStatus($event)">
        </label>
      </td>
      <td nz-td *ngFor="let item of _titles" style="max-width:150px;">
        <!-- 在这里判断当前字段的类型是文本还是图片  通过传进来的type是否是img判断nnp-->
        <span *ngIf="item.type=='text'" style="display:-webkit-box;-webkit-line-clamp:1;overflow:hidden;-webkit-box-orient:vertical;text-overflow:ellipsis;max-width:120x; overflow:hidden;">{{data[item.key]}}</span>
        <span *ngIf="item.type=='gender'" style="display:-webkit-box;-webkit-line-clamp:1;overflow:hidden;-webkit-box-orient:vertical;text-overflow:ellipsis;max-width:120x; overflow:hidden;">{{data[item.key]==1?"男":"女"}}</span>
        <span *ngIf="item.type=='state'" style="display:-webkit-box;-webkit-line-clamp:1;overflow:hidden;-webkit-box-orient:vertical;text-overflow:ellipsis;max-width:120x; overflow:hidden;">{{data[item.key]==1?"启用":"未启用"}}</span>
        <span *ngIf="item.type=='date'" style="display:-webkit-box;-webkit-line-clamp:1;overflow:hidden;-webkit-box-orient:vertical;text-overflow:ellipsis;max-width:120px; overflow:hidden;">{{data[item.key] | date:'yyyy-MM-dd'}}</span>
        <span *ngIf="item.type=='select'" style="display:-webkit-box;-webkit-line-clamp:1;overflow:hidden;-webkit-box-orient:vertical;text-overflow:ellipsis;max-width:120px; overflow:hidden;">{{data[item.key] | transforType:item.options}}</span>
        <img [src]="''" alt="" *ngIf="item.type=='img'">
      </td>
      <td nz-td class="action" *ngIf="isShowOperate" style="width:240px;">

        <div *ngIf="actionType=='type1'">
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleEdit($event,data)" >
            <span>修改</span>
          </button>
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleDelete($event,data)">
            <!-- 标签嵌套错误  p标签应该放在外面-->
            <span>删除</span>
          </button>
        </div>

        <div *ngIf="actionType=='type2'">
          <button nz-button [nzType]="'primary'">
            <span>冻结</span>
          </button>
          <button nz-button [nzType]="'primary'">
            <span (click)="singleEdit($event,data)">解冻</span>
          </button>
        </div>

        <div *ngIf="actionType=='type3'">
          <button [routerLink]="['/register']"  [queryParams]="{id:data.id}" nz-button nzGhost style="font-size:12px;text-align:center;"  >
            <span>入库</span>
          </button>
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleEdit($event,data)" >
            <span>修改</span>
          </button>
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleDelete($event,data)">
            <!--标签嵌套错误  p标签应该放在外面-->
            <span>删除</span>
          </button>
        </div>

        <div *ngIf="actionType=='type4'">
          <nz-switch [ngModel]="true">
            <span checked>开</span>
            <span unchecked>关</span>
          </nz-switch>
        </div>

        <div *ngIf="actionType=='type5'">
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleEdit($event,data)" >
            <span>查看</span>
          </button>
          <button nz-button nzGhost style="font-size:12px;text-align:center;" (click)="singleDelete($event,data)">
            <!-- 标签嵌套错误  p标签应该放在外面-->
            <span>删除</span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="pp-table-info">显示第 {{pageSize*(currentPageIndex-1)+1}} 条到第 {{pageSize*(currentPageIndex-1)+pageSize}} 条记录
  </div>
</div>





